---
layout: default
title: Home
ref: index
permalink: /
---

{% include body_header.html %}

{% for section in site.data.nav %}
{% if section.id == 'index' %}
{%- for item in section.childs -%}
{% assign loopindex = forloop.index | modulo: 2 %}
<section id="{{ item.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ item.css }}"
  style="margin-top: 5%;">
  {% include sections/{{item.tpl}} %}
</section>
{%- endfor -%}
{% endif %}
{% endfor %}
<style>
  iframe {
    -moz-transform: scale(0.25, 0.25);
    -webkit-transform: scale(0.25, 0.25);
    -o-transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25);
    transform: scale(0.25, 0.25);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }
</style>
<script>
  $('#i18_title').click(function () {
    $("html, body").animate({ scrollTop: 0 }, 1000);
    return false;
  });
</script>
<script type="text/javascript" defer="defer" src="particles.js"></script>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<!-- <iframe src="https://www.maimemo.com/share/page/?uid=779139&pid=660" style="display: none;"></iframe> -->
