<div class="video-background">
    <iframe
      src="https://www.youtube-nocookie.com/embed/b9pBQMns4lw"
      class="wow zoomIn"
      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube-nocookie.com/embed/b9pBQMns4lw><img src=https://img.youtube.com/vi/b9pBQMns4lw/maxresdefault.jpg alt='Trailer Club Of ProgrammerS IIT BHU'><span>▶</span></a>"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      title="Trailer Club Of ProgrammerS IIT BHU"></iframe>
</div>
