<footer class="page-footer">
    <div class="wrapper">
        <div class="logo">
            <img src="{{ '/static/assets/img/logo.png' }}">
        </div>
        <div class="links">
          <a target="_blank" href="https://github.com/COPS-IITBHU/Code-Of-Conduct/blob/master/README.md">Code of Conduct</a>
        </div>

    </div>
</footer>
{% include analytics.html %}
<!-- Technex Pre Event link is: NB2HI4DTHIXS6ZDSNF3GKLTHN5XWO3DFFZRW63JPN5YGK3R7NFSD2MKXLJCWCTT2IFHWQ5SQLFEHCY2HGRMECTRXMZ2XKYSKOMZVOVD2KQ====== -->
