<div class="container" id="i18_overview_csoc">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <h1><span data-i18n="overview_csoc.overview_csoc">Overview</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- first two icons -->
        {% for icon in site.author.skill_icon1 %}
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }}</h4>
                <h5> Powered by </h5>
                <a href="https://github.com"><img src="https://i.ibb.co/PTnpWkP/Git-Hub-Logo.png" alt="Git-Hub-Logo" border="0" height="42" width="100"></a>
            </div>
        </div>
        <!-- second two icons -->
        {% for icon in site.author.skill_icon2 %}
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="overview_csoc.des">
CSoC is a platform where all the interested people get together to teach and learn the best of programming, to give direction to the future of the students as a potential source in the industry. 
<p>COPS Summer Of Code 18 received a great response not only from the students of IIT(BHU) but also from other colleges like BITS Pilani and IIT Kanpur. It took off to a flying start with more than 200 people actively participating. In the end, CSoC was appreciated by the college students and was able to gain a total reach of 6.9k with 834 likes and shares on Facebook posts. Out of 200 participants, 93 resolved CSoC assignments and were pleased with the knowledge they earned with the help of it.</p>
</p>
<p>The main objective of CSoC is to help people explore various major as well as minor fields of Computer Science which they’ve heard about a lot, but don’t know where to start. Right from the very basic of each of these fields, we take the participants to the maximum possible level of the subject up to their potential to grasp knowledge. as CSoC carries no boundaries, the participants are free to explore and take help from us. Development, Machine Learning and Competitive programming will be the three main sectors that will be dealt with during the programme. Exciting resource, assignments and mentorship will be provided to all students during the programme</p>
<ul>
<li><b>Machine learning:</b>  The aim of the programme is to equip the participants with the necessary tools and techniques of Machine Learning and to give an idea regarding the various avenues and developments taking place in the field. The students will be taught about data science, encouraged to participate in competitive Machine Learning, and exposure will also be give to computer vision and natural language processing , two of the hot topics in the research field.
</li>
<li><b>Development:</b> The aim is to involve people in open source contributions and to get a taste of actual development in a collaborative effort. By the end of the program, students should be comfortable with whatever development environment they've set up, basic technologies in web development and how to contribute to open source projects and to solve their issues. 
</li>
<li><b>Competitive Programming:</b> The aim is to give exposure to students regarding the various concepts, tools and tricks in competitive programming.To encourage a good culture there will be  coding contests every two weeks, carried on with a discussion on slack, google group and WhatsApp group, where one can clear her doubts. Tutorials and practice problems, along with their editorials will be released a week before every contest.
</li>
</ul>
<p>A brief timeline of the programme is as follows:</p>


</span></p>
        </div>
    </div>
</div>
