<div class="container" id="i18_overview_extravaganza">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <h1><span data-i18n="overview_extravaganza.overview_extravaganza">Dev Extravaganza</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- first two icons -->
        {% for icon in site.author.skill_icon1 %}

        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }}</h4>
                <h5> Powered by </h5>
                <a href="https://github.com"><img class="github-theme" src="https://svgshare.com/i/G08.svg" alt="Git-Hub-Logo" border="0" height="42" width="100"></a>
            </div>
        </div>
        <!-- second two icons -->
        {% for icon in site.author.skill_icon2 %}
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-justify m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="overview_extravaganza.des">
Dev Extravaganza is a 3-day workshop series in association with GitHub empowering all the budding developers with real-world knowledge and experience, bridging the gap between school and the industry. The series will focus on the practical sides of Web development, Game development, and Deployment while having fun with some of the best technologies in the current industry and winning some exciting goodies from Github.
<p>It will cover 4 workshops:</p>
<ul>
    <dl>
        <dt>GitHub Workshop</dt>
        <dd>A hands-on workshop on Git and GitHub. You will learn how to work on development projects using GitHub and will be introduced to GitHub essentials like repositories, branches, issues, pull requests </dd>
    </dl>
    <dl>
        <dt>Twilio 201</dt>
        <dd>Clone a simple memes app and create a Twilio account. Text a number and receive back a random meme, gif, or any piece of content you want. Through this simple application, you'll get familiar with the Twilio SMS API, how to use the Twilio console and JavaScript programming.</dd>
    </dl>
    <dl>
        <dt>AWS</dt>
        <dd>You will go through building an Event Suggestion Generator web application using the EventBrite API, setting up a Flask application, fetch data from Eventbrite’s API, configuring a database using AWS Elastic Beanstalk, and deploy to Amazon Web Services.</dd>
    </dl>
    <dl>
        <dt>Unity</dt>
        <dd>Interact with a 3D car racing game written in C# and developed using the Unity Game Engine. You will learn how to set up the Unity Engine on your computer, explore the project files, fix broken functions in the game, and publish your games for others to play!</dd>
    </dl>
</ul>

</span></p>
        </div>
    </div>
</div>
