<div class="container" id="i18_overview_copsweek">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center">
      <h1>
        <span data-i18n="overview_copsweek.overview_copsweek">COPS WEEK</span>
      </h1>
      <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
    </div>
  </div>
  <div class="row" style="justify-content: center; text-align: center">
    <img
      src="/static/assets/img/events/copsweek/copsweek.jpeg"
      style="width: 60%; height: auto"
    />
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-justify m-t-lg m-b-lg wow zoomIn">
      <p>
        <span data-i18n="overview_copsweek.des">
          The Club of Programmers(COPS), IIT BHU is back again with a bang. We
          are going to organize a COPS Week, especially for Freshers from
          February 5 to February 12, where we will hold events for Competitive
          Programming, Machine Learning, Development, and Infosec. Prizes worth
          1000 INR to top three performers in each event and get a chance to get
          into COPS.

          <p>
            <b
              >For regular updates on COPS Week join our official
              <a
                href="https://groups.google.com/forum/#!forum/copsiitbhu"
                target="_blank"
                >Google Group</a
              >. Also, for discussion, announcements, resources for all the COPS
              events freshers can join our discord server. You can get an invite
              to the server through
              <a
                href="https://cops-discord-freshers.herokuapp.com/"
                target="_blank"
                >this portal</a
              >.
            </b>
          </p>
          <p>Description about different events are as follows:</p>
          <ul>
            <dl>
              <dt>NP Compete</dt>
              <dd>
                Competitive Programming Group presents NP Compete a 48-hr CP
                contest. You can register for Np Compete 2k21 <a href="https://www.hackerrank.com/np-compete-2k21/" target="_blank">here</a>.
              </dd>
            </dl>
            <dl>
              <dt>Ctrl Shift Intelligence</dt>
              <dd>
                ML Group presents Ctrl Shift Intelligence, a short quiz followed
                by a 3 day computer vision competition.
              </dd>
            </dl>
            <dl>
              <dt>WannaHack CTF</dt>
              <dd>
                InfoSec Group present WannaHack a 24hr capture the flag event. You can register for WannaHack CTF <a href="http://wannahack.copsiitbhu.co.in" target="_blank">here</a>.
              </dd>
            </dl>
            <dl>
              <dt>DebugIt</dt>
              <dd>Dev Group presents DebugIt, a week long dev sprint. You can register for DebugIt <a href="https://hackalog.copsiitbhu.co.in/hackathon/debug-it-2021" target="_blank">here</a>.</dd>
            </dl>
          </ul>
        </span>
      </p>
    </div>
  </div>
</div>
