<div class="container" id="i18_timeline_csoc">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><span data-i18n="timeline_csoc.timeline_csoc">Timeline</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for event in site.data.index.timeline_csoc %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="fa {{ event.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <h2><span data-i18n="event.{{ event.name.i18n }}">{{ event.name.detail }}</span></h2>
                        <p><span data-i18n="event.{{ event.desc.i18n }}">{{ event.desc.detail }} </span></p>
                        <span class="vertical-date"><span data-i18n="event.{{ event.date.i18n }}"> {{ event.date.detail }} </span>
                        <br/> <small><span data-i18n="event.{{ event.job.i18n }}">{{ event.job.detail }}</span></small> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>












<div class="row" style="margin-top: 3%;">
    <div class="col-lg-12 text-center">
        <h1>CSOC Leaderboard</h1>
    </div>
</div>

<div class="panel-group" id="accordion">
    {% for topic in site.data.board %}
    {%- assign title = topic.name -%}
    {%- assign participant = topic.participants -%}
    {%- assign id = title | slugify -%}

    <div class="potw-topic panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{ id }}">
                <h4 class="panel-title potw-title">{{ title }}</h4>
            </a>
        </div>
        <div id="{{ id }}" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Institute</th>
                        <th>Points</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%- for ptcpnt in participant -%}
                        <tr>
                            <td><a href="{{ptcpnt.url}}">{{ptcpnt.name}}</a></td>
                            <td>{{ptcpnt.institute}}</td>
                            <td>{{ptcpnt.points}}</td>
                        </tr>
                        {%- endfor -%}
                    </tbody>
                </table>                    
            </div>
        </div>
    </div>
    {% endfor %}
</div>

