.vertical-timeline-block {
    transition: all 0.2s;
}
#expand-vertical-timeline-block, #collapse-vertical-timeline-block {
    cursor: pointer;
    margin: 0;
}
@media (min-width: 1171px){
    #expand-vertical-timeline-block:hover, #collapse-vertical-timeline-block:hover {
        transform: scale(1.1) translateY(-2px);
    }
}